<!-- TODO: Cleanup code and comments -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celeste Commute</title>

    <link rel="stylesheet" href="style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="viewport-wrapper">
      <div class="gradient-backgrounds">
        <!-- For using two divs with different gradients (ARCHIVED):
        <div class="night-gradient"></div>
        <div class="day-gradient"></div> -->
      </div>
      <div id="drawing-flex-container">
        <img
          class="drawing rise-sun"
          src="images/Sun.png"
          alt="drawing of the sun"
        />
        <img
          class="drawing rise-moon"
          src="images/Moon.png"
          alt="drawing of the moon"
        />
        <img
          class="drawing rise-stars"
          src="images/Stars.png"
          alt="drawing of the stars"
        />
        <img
          class="drawing"
          src="images/Day-Cloud.png"
          alt="drawing of cloud at day"
        />
        <img
          class="drawing cloud-night"
          src="images/Night-Cloud.png"
          alt="drawing of cloud at night"
        />
        <img
          class="drawing globe-day"
          src="images/Day-Globe.png"
          alt="drawing of globe at day"
        />
        <img
          class="drawing globe-night"
          src="images/Night-Globe.png"
          alt="drawing of globe at night"
        />
        <img
          class="drawing car-day"
          src="images/Day-Car.png"
          alt="drawing of car at day"
        />
        <img
          class="drawing car-night"
          src="images/Night-Car.png"
          alt="drawing of car at night"
        />
        <div id="credits">
          <p>
            Developed by
            <a href="https://github.com/ShannyxMP">ShannyxMP</a>. Not affiliated
            with Nintendo or Animal Crossing.
          </p>
        </div>
      </div>

      <main>
        <div id="visible-body">
          <h1>Celeste Commute, <span id="displayTime"><%= time %></span></h1>
          <p><%= message %></p>

          <% if (soundtrack) { %>
          <!-- TODO: Create a customised audio player -->
          <audio id="audioPlayer" controls loop>
            <source src="<%= soundtrack %>" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>

        <button id="settings">
          <img src="images/settings-icon.png" alt="settings" />
          <!-- <a target="_blank" href="https://icons8.com/icon/59996/settings">Settings</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
        </button>
        <div id="form" class="collapsed">
          <!-- TODO: Display what game is being played -->
          <form action="/set-soundtrack" method="POST">
            <label for="setTime">Time: </label>
            <select name="setTime" id="setTime">
              <% for (let i = 0; i < 24; i++) { %> <% if (i > 0 && i <= 11) { %>
              <option value="<%= i %> am"><%= i %> am</option>
              <% } else if (i === 12) { %>
              <option value="<%= i %> pm"><%= i %> pm</option>
              <% } else if (i > 12 && i < 24) { %> <% let j = i - 12; %>
              <option value="<%= j %> pm"><%= j %> pm</option>
              <% } else { %>
              <option value="12 am">12 am</option>
              <% } %> <% } %>
            </select>
            <br />
            <label for="setGame">Game: </label>
            <select name="setGame" id="setGame">
              <option value="1">New Leaf</option>
              <option value="0">New Horizons</option>
              <option value="2">City Folk</option>
              <option value="3">Game Cube</option>
            </select>
            <br />
            <input id="submit-btn" type="submit" />
            <br />
            <br />
            <a id="reset-link" href="/">Reset to auto mode</a>
          </form>
        </div>
        <% } %>
      </main>
    </div>
    <script src="main.js"></script>
  </body>
</html>
